/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

/* Body */
body{
    font-family: Arial, sans-serif;
    line-height:1.6;
}

/* Header */
header{
    background:#1e293b;
    color:white;
    padding:15px 50px;

    position:sticky;
    top:0;
    z-index:1000;
}
/* Navigation */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

nav ul li a:hover{
    color:#60a5fa;
}

/* Hero Section */

#hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#f8fafc;
}

#hero h1{
    font-size:3rem;
    margin-bottom:10px;
}

#hero p{
    font-size:1.3rem;
    margin-bottom:20px;
}

#hero button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    cursor:pointer;
}

#hero button:hover{
    background:#1d4ed8;
}

section{
    padding:80px 10%;
}

section h2{
    text-align:center;
    margin-bottom:30px;
}

#about p{
    text-align:center;
    max-width:800px;
    margin:auto;
}

/* Skills */

#skills ul{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    list-style:none;
    gap:15px;
}

#skills li{
    background:#2563eb;
    color:white;
    padding:12px 20px;
    border-radius:5px;
}

/* Projects */

#projects{
    background:#f8fafc;
}

#projects div{
    margin-bottom:20px;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.project-card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-5px);
}

/* Contact */

form{
    max-width:600px;
    margin:auto;
}

form input,
form textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

form input:focus,
form textarea:focus{
    outline:none;
    border-color:#2563eb;
}

form button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

form button:hover{
    background:#1d4ed8;
}

footer{
    background:#1e293b;
    color:white;
    text-align:center;
    padding:20px;
}

.profile-image{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;

    display:block;
    margin:0 auto 20px;
}